<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="-1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  		<script type="text/javascript" src="/libs/three.min.js"></script>
  		<script type="text/javascript" src="/libs/trenchRun/first-person-controls.js"></script>
  		<script type="text/javascript" src="/libs/trenchRun/trenchRun.js"></script>
  		<script type="text/javascript" src="/libs/trenchRun/trenchRun.block.js"></script>
  		<link rel="stylesheet" href="/styles/site.css">
  		<link rel="stylesheet" href="/styles/trenchRun.css">
	</head>
	<body>
		<div id="trenchRun-container"></div>
		<script type="text/javascript">
			var TrenchRun = new window.TrenchRun("trenchRun-container");
		</script>
	</body>
</html>